.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 1% 2% 0% 2%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  /* font-family: "proxima_novaregular", sans-serif; */
  /* overflow-y: scroll; */
}

.screen.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
